<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name="AirbnbSuite" parallel="false">
  <test name="StaysFlow">
    <classes>
      <class name="tests.HomeTest"/>
    </classes>
  </test>
  <test name="ExperiencesFlow">
    <classes>
      <class name="tests.ExperiencesTest"/>
    </classes>
  </test>
  <test name="ServicesFlow">
    <classes>
      <class name="tests.ServicesTest"/>
    </classes>
  </test>
</suite>